@import "tailwindcss";

@theme {
  /* Brand colors */
  --color-primary: #ffffff;
  --color-secondary: #ff9328;

  /* Surface colors */
  --background-color-surface-default: #000000;
  --background-color-surface-card: #ffffff1a;

  /* Border colors */
  --border-color-default: #ffffff33;

  /* Text colors */
  --color-default: #ffffff;
  --color-icon: #b1b1b1;
  --color-subtitle: #cacaca;
  --color-on-primary: #000000;

  /* Fonts */
  --font-sans: "Poppins", sans-serif;
  --font-serif: "Domine", serif;

  --tw-duration: 500ms;
}

@layer base {
  :root {
    color-scheme: dark;
  }

  body {
    @apply bg-surface-default text-default font-sans;
  }

  a,
  button,
  *[role="button"] {
    cursor: pointer;
  }
}

@utility wrapper {
  @apply max-w-screen-2xl mx-auto;
}

@utility logo {
  @apply text-2xl font-bold font-serif;
}

@utility text-display-lg {
  @apply text-[2.75rem] xl:text-[3.5rem] leading-[3.5rem] xl:leading-[4.5rem] font-semibold font-serif;
}

@utility text-display-md {
  @apply text-[2.25rem] xl:text-[3rem] leading-[3rem] xl:leading-[4rem] tracking-[-0.066rem] font-semibold font-serif;
}

@utility text-display-sm {
  @apply text-[1.875rem] xl:text-[2.625rem] leading-[2.625rem] xl:leading-[3.625rem] font-serif;
}

@utility text-display-accent {
  @apply text-2xl font-normal text-secondary;
}

@utility text-body-lg {
  @apply text-lg xl:text-xl;
}

@utility text-body-md {
  @apply text-base xl:text-lg;
}

@utility text-body-sm {
  @apply text-sm xl:text-base;
}

@utility chip {
  @apply flex items-center justify-center py-2 px-6 gap-3 rounded-full bg-surface-card whitespace-nowrap;
}

@utility chip-sm {
  @apply py-1.5 px-3 gap-2 text-sm;
}

.chip .icon {
  @apply fill-icon w-6 h-6;
}

.chip-sm .icon {
  @apply w-4 h-4;
}

.icon svg,
.icon svg path,
.icon svg g {
  fill: inherit;
}

.icon svg {
  @apply w-full h-full;
}

@utility input {
  @apply bg-transparent placeholder:text-subtitle text-subtitle border border-default focus:border-primary rounded-[1.75rem] py-3 px-6 !outline-none transition-all;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px transparent;
}

@utility hover-glow {
  @apply transition-all;
}

@utility hover-glow-sm {
  @apply transition-all;
}

.hover-glow:hover {
  box-shadow: 1px 5px 16px 2px rgba(255, 146, 41, 0.25);
  transform: translateY(-2px);
}

.hover-glow-sm:hover {
  box-shadow: 0px 3px 12px 0px rgba(255, 146, 41, 0.175);
  transform: translateY(-2px);
}

@utility loading-indicator {
  border-color: var(--color-on-primary);
}

.loading-indicator[data-loading="true"] {
  @apply relative !text-transparent;
}

.loading-indicator[data-loading="true"]::after {
  content: "";
  animation: rotation 1s linear infinite;
  border-block-color: inherit;
  border-inline-color: transparent;
  @apply box-border absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 h-[45%] aspect-square rounded-full border-2 border-solid;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@utility project-card {
  @apply relative h-auto aspect-[4/3] rounded-3xl cursor-pointer overflow-hidden;
}

.project-card > img {
  @apply absolute inset-0 h-full w-full object-cover;
}

.project-card .details {
  @apply absolute inset-0 p-4 sm:p-6 flex flex-col justify-end gap-3 transition-all;

  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.75) 100%
  );
  @media (hover: hover) {
    top: unset;
    transform: translateY(calc(100% - 4.5rem));
  }
}

.project-card .details .chip .icon {
  @apply fill-white;
}

.project-card .arrow {
  @apply absolute top-2 right-2 sm:top-4 sm:right-4 bg-black/30 fill-white rounded-full aspect-square p-3 sm:p-4 flex items-center justify-center transition-all;
}

.project-card:hover .arrow {
  @apply bg-primary fill-on-primary;
}

.project-card .arrow .icon {
  @apply w-4 h-4 sm:w-6 sm:h-6;
}

.project-card h3 {
  @apply text-3xl font-semibold font-serif;
}

.project-card p {
  @apply text-body-sm;
}

.project-card:hover .details {
  transform: none;
}

@utility scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.landing-page > * {
  @apply wrapper px-8;
}

.landing-page > section {
  @apply min-h-[min(800px,100vh)] justify-center;
}

.hero-container {
  max-width: none;
  overflow: hidden;
  background: linear-gradient(
      117deg,
      rgba(123, 55, 62, 0.15) 0%,
      rgba(0, 0, 0, 0.18) 100%
    ),
    linear-gradient(90deg, rgba(0, 0, 0, 0.3) 0%, rgba(77, 38, 0, 0.3) 100%),
    #000;
}

.hero {
  position: relative;
  @apply wrapper min-h-[min(800px,100vh)];
}

.hero > * {
  z-index: 2;
}

.hero::before {
  content: "";
  position: absolute;
  bottom: -20%;
  left: -20%;
  width: min(60vh, 500px);
  height: min(60vh, 500px);
  border-radius: 100%;
  outline: 3.5rem solid rgba(255, 255, 255, 0.1);
  background-color: #150a01;
  z-index: 1;
  @media (width < 48rem /* 768px */) {
    width: min(35vh, 300px);
    height: min(35vh, 300px);
  }
}

.double-underline {
  position: relative;
}

.double-underline::after {
  content: "";
  background-image: url("/src/assets/double-underline.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: auto;
  aspect-ratio: 2;
  z-index: 1;
}

.call-to-action {
  position: relative;
}

@media (width >= 48rem /* 768px */) {
  .call-to-action::after {
    content: "";
    background-image: url("/src/assets/arrow.svg");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 0.25rem;
    left: calc(100% + 2rem);
    width: auto;
    height: 150%;
    aspect-ratio: 2;
    z-index: 1;
  }
}

.scroll-down {
  animation: bounce 1.5s ease infinite;
}

.hero-image {
  @apply relative;
}

.hero-image img {
  position: relative;
  z-index: 2;
}

.hero-image::after {
  content: "";
  position: absolute;
  top: -1.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: auto;
  aspect-ratio: 1;
  border-radius: 100%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.05);
}

nav a {
  @apply text-subtitle transition-all;
}

nav a:hover {
  @apply text-default font-medium;
}

footer {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(255, 205, 156, 0.3) 100%
    ),
    #000;
}

#contact {
  max-width: none;
}
footer > section {
  @apply wrapper;
}

footer .links a {
  @apply bg-surface-card fill-icon transition-all;
}

footer .links a:hover {
  @apply bg-primary fill-on-primary;
}
